#root {
  width:100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-content {
  background-color: #fff;
  width:calc(400px - 32px + 50%);
  padding:16px
}
 /* Fuck you vega embed padding */
.chart.vega-embed.has-actions { 
  border: #333 2px solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
}

.bushfire {
  color: #b01010;
}

.cyclone {
  color: #44bb44;
}

.storm {
  color: #ddbb66
}

.flood {
  color: #4c78a8
}
.text {
  padding: 0 1em 8px 1em;
  margin: 0;
  text-align: justify;
  font-size: large;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
}
.col {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.sources {
  font-size: x-small;
  color:#444;
}